body {
  font-family: Roboto, sans-serif;
  background: #fff;
  color: #434455;
}
ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
p,
h1,
h2,
h3,
h4 {
  margin-top: 0;
  margin-bottom: 0;
}
a {
  text-decoration: none;
}
address {
  font-style: normal;
}
.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
button {
  cursor: pointer;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* -------------------HEADER---------------------------- */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
}
.header-menu-list {
  display: none;
}

.header-contacts {
  display: none;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  /* margin-right: 76px; */
  padding: 16px 0;
  display: block;
}
.header-logo-part {
  font-family: "Raleway", sans-serif;
  color: #2e2f42;
}
.burger-btn {
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-icon {
  display: block;
  fill: #2f2f37;
}

/* ----------------MENU MOBILE------------------ */

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
}
.mobile-menu-close {
  width: 24px;
  height: 24px;
  background-color: #fff;
  opacity: 100%;
  border-radius: 50%;
  fill: #2e2f42;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 24px;
}
.icone-close-mobile {
  display: block;
  fill: #2e2f42;
}
.mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: auto;
  padding-left: 16px;
}

.mobile-menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.mobile-menu-link.current {
  color: #404bbf;
}

.mobile-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-left: 16px;
}

.mobile-contacts-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}

.mobile-contacts-item.current {
  color: #4d5ae5;
}
.social-mobile {
  margin-top: 48px;
}
.social-list-mobile {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;

  padding-left: 16px;
}
.social-item-mobile {
  width: 40px;
  height: 40px;
}
.social-icon-mobile {
  fill: #f4f4fd;
}
.social-link-mobile {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* ------------------------------------------------- */

/* --------------------TOP CONTAINER-----------------_____---- */
.top-container {
  padding-top: 72px;
  padding-bottom: 72px;
  background: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/mobile-back.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
}
@media screen and (min-resolution: 2dppx) {
  .top-container {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/mobile-back-2x.jpg);
  }
}

.top-container > .container {
  padding-left: 56px;
  padding-right: 56px;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin: 0 auto 72px auto;
}

.button {
  font-family: "Roboto", sans-serif;
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  cursor: pointer;
  display: block;
  margin: auto;
  border-radius: 4px;
  min-width: 169px;
  min-height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ------------------featres section------------------- */

.features {
  padding-top: 96px;
  padding-bottom: 96px;
}
.features-subtitle {
  margin-bottom: 8px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.features-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.features-item {
  width: 100%;
}
.features-item-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.features-card {
  display: none;
}

/* --------------------TEAM----------------- */
.container-three > .container {
  padding-left: 28px;
  padding-right: 28px;
  background-color: #f4f4fd;
  padding-top: 96px;
  padding-bottom: 96px;
}

.team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.team-member-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  align-items: center;
  justify-content: center;
}
.card {
  padding-top: 32px;
  padding-bottom: 32px;
}

.card-content {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.social-icon {
  fill: #f4f4fd;
}
.social-link {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

.social-list {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
  padding-left: 0;
  padding-left: 16px;
  padding-right: 16px;
}
.social-item {
  width: 40px;
  height: 40px;
}
.team-member {
  background-color: #ffffff;
  width: 100%;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

/* ------------------------------------------------------ */

/* --------------------------PORTFOLIO--------------------- */

.container-three {
  padding-top: 96px;
  padding-bottom: 96px;
}
.portfolio {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-items-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio-cover-text {
  display: none;
}
/* --------------------------------------------------------------------- */

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}
.footer-logo-part {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.text-footer {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;

  max-width: 264px;
  max-height: 112px;
}
.footer {
  background: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
  display: block;
}

.text-social-footer {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.first-part-footer {
  margin-right: 120px;
}
.social-list-footer {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
  padding-left: 0;
  margin-bottom: 32px;
}

.social-item-footer {
  width: 40px;
  height: 40px;
}
.footer-social {
  margin-right: 80px;
}
.social-link-footer {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link-footer:hover,
.social-link-footer:focus {
  background-color: #31d0aa;
}
.subscribe-footer {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.input-footer::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.input-footer {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  outline: transparent;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  padding-left: 16px;
  padding-top: 8px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.footer-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background: #4d5ae5;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  border: none;
  cursor: pointer;
}
.footer-icon-subscribe {
  margin-left: 16px;
}

.form-footer {
  display: flex;
  gap: 24px;
}

/* overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: o;
  visibility: hidden;
  pointer-events: none;
}
.overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 408px;
  min-height: 584px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  border-radius: 4px;
  padding: 72px 24px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(-50%, -50%);
}
.modal-open {
  position: absolute;
  top: 24px;
  right: 24px;
  margin-left: auto;
  border-radius: 4px;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  opacity: 100%;
  border-radius: 50%;
  fill: #2e2f42;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 24px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.modal-open:hover,
.modal-open:focus {
  background-color: #404bbf;
  border: none;
}
.icone-close-button {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-open:hover .icone-close-button {
  fill: #ffffff;
}

.modal-open:focus .icone-close-button {
  fill: #ffffff;
}

.title-overlay {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}
.input-modal {
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  height: 40px;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.madal-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}
.modal-field {
  margin-bottom: 8px;
}
.input-wrapper {
  position: relative;
}
.icone-modal {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-modal:focus {
  border-color: #4d5ae5;
}

.input-modal:focus + .icone-modal {
  fill: #4d5ae5;
}
.modal-field-comment {
  margin-bottom: 16px;
}
.modal-textarea {
  resize: none;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 360px;
  height: 120px;
  padding-left: 16px;
  padding-top: 8px;
  margin-bottom: 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea:focus {
  border-color: #4d5ae5;
}
.modal-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.container-privacy {
  margin-bottom: 24px;
}
.modal-link {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}
.label-privacy {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.button-modal {
  cursor: pointer;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  display: block;
  margin: auto;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.label-privacy span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}
.privacy-checkbox:checked + .label-privacy span {
  fill: #f4f4fd;
  background-color: #404bbf;
  border: none;
}

/* ---------Media--------------------- */
@media screen and (min-width: 320px) {
  .top-container {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet-back.jpg);
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .header-container {
    display: flex;
    align-items: center;
  }
  .header-navigation {
    display: flex;
    align-items: center;
  }
  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }
  .burger-btn {
    display: none;
  }
  .header-menu-list {
    display: flex;
    gap: 40px;
  }
  .header-menu-item {
    padding: 24px 0;
  }
  .header-contacts {
    display: flex;
    margin-left: auto;
  }
  .header-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .header-contacts-item {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1, 17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-menu-link.current {
    position: relative;
    color: #404bbf;
  }
  .header-contacts {
    font-style: normal;
  }
  .header-menu-link.current::after {
    content: "";

    display: block;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: -1px;
  }
  .header-contacts-item:hover,
  .header-contacts-item:focus {
    color: #404bbf;
    transition: background-color 250ms (0.4, 0, 0.2, 1);
  }
  .header-menu-link:hover,
  .header-menu-link:focus {
    color: #404bbf;
  }
  .top-container > .container {
    padding-left: 136px;
    padding-right: 136px;
  }
  .top-container {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/background.jpg);
  }
  @media screen and (min-resolution: 2dppx) {
    .top-container {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/tablet-bg-2x.jpg);
    }
  }
  .title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin: 0 auto 36px auto;
  }

  .features-list {
    gap: 24px;
  }
  .features-item {
    flex-basis: calc((100% - 24px) / 2);
  }
  .features-subtitle {
    text-align: left;
  }
  .container-three > .container {
    padding-left: 108px;
    padding-right: 108px;
  }
  .team-list {
    gap: 64px 24px;
  }
  .team-member {
    flex-basis: calc((100% - 24px) / 2);
  }
  .photo {
    width: 356px;
    height: 300px;
  }
  .portfolio-list {
    flex-wrap: wrap;
    column-gap: 72px;
    row-gap: 24px;
  }
  .portfolio-items {
    flex-basis: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .header-logo {
    margin-right: 76px;
  }
  .header-contacts-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
  .header-contacts-item {
    padding: 24px 0;

    font-size: 16px;
    line-height: 1, 5;
    letter-spacing: 0.02em;
  }
  .top-container {
    padding-top: 188px;
    padding-bottom: 188px;
  }
  @media screen and (min-resolution: 2dppx) {
    .top-container {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/back-2x.jpg);
    }
  }
  .title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin-bottom: 48px;
    max-width: 496px;
    margin: 0 auto 48px auto;
  }
  .button:hover,
  .button:focus {
    color: #ffffff;
    background-color: #404bbf;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .features {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .features-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }

  .features-list {
    gap: 24px;
    flex-wrap: nowrap;
  }
  .features-card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 24px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    margin-bottom: 8px;
  }
  .container-three {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .container-four {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .team-list {
    gap: 24px;
    flex-wrap: nowrap;
  }
}
.team-member {
  flex-basis: calc((100% - 3 * 24px) / 4);
}
.text-wrapper {
  position: relative;
  overflow: hidden;
}
.portfolio-cover-text {
  position: absolute;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background: #4d5ae5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 40px;
  padding-left: 32px;
  padding-bottom: 40px;
  padding-right: 32px;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-items {
  flex-basis: calc((100% - 2 * 24px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-items:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-items:hover .portfolio-cover-text {
  transform: translateY(0);

  cursor: pointer;
}
